body{
  
    margin: 0;
  
}
header{
    background: black;
    color: white;
    margin: 0;
    padding: 8px 0px 6px 40px;
    height:60px;
    
}
header h1{
    font-size: 50px;
    font-weight: 400;
    float: left;   
    margin-left: 0;
    margin-top: 0;
}
nav ul{
    display: inline;
    float: left;
    padding: 0;
    margin-left: 500px;
    margin-right: 40px;
    padding-top: 0px;
    
   
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    float: left;
    margin-left: 35px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    
}
.homered{
background: red;
padding: 10px 10px 11px 10px;

}
.homeblue:hover{
    background: black;
    padding: 10px 10px 11px 10px;
    opacity: 0.8;
}
.divider{
    background-color: red;
    height: 5px;
}
.image{
    
    background-image: url("bg1.jpg");
     width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   margin:0;
   
}
.image1{
    padding-left: 20px;
}
.button{
    font-size: 15px;
    margin-left: 600px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
}
.button:hover{
    background: red;
}
.buttonlogin{
    font-size: 15px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    float: right;
}
.buttonlogin:hover{
    background: red;
}
form{
    position: absolute;
    padding-left: 380px;
    top: 300px;
}
.form-control{
    margin: 0;
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: solid coral;
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 16px;
}

input{
    height: 45px;
    color: white;
}
form .submit{
    background: coral;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;
}
form .submit:hover{
    cursor: pointer;
    background: green;
    
}
.contact-title{
    margin-top: 80px;
    position:absolute;
    margin-left: 80px;
    padding-left: 400px;
    text-align: center;
}